body{
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh 1fr;
  grid-template-areas: "menu,list";
  background-color: dimgray;
}

#menu{
  grid-area: "menu";
}

#list{
  grid-area: "list";
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "moviesDiv,seriesDiv,peopleDiv";
  border-top: 5px solid black;
}

#moviesDiv{
  grid-area: "moviesDiv";
  border-right: 5px solid black;
}

#seriesDiv{
  grid-area: "seriesDiv";
  border-right: 5px solid black;

}

#peopleDiv{
  grid-area: "peopleDiv";
}

.moviesElement{
  width:350px;
  height: 250px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "posterDiv,moviesInfo";
  border: 5px solid black;
  display: flex; /* Use flexbox layout */
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Horizontally center the items */
  margin: 20px;
}

.posterDiv{
  grid-area: "poster";
}

.moviesInfo{
  grid-area: "moviesInfo";
  margin-left: 30px;
}

.poster{
  height: 200px;
  margin-left: 5px;
}

.starImage{
  height: 30px;
}